@font-face{
    font-family: "YZYFNT";
    src: url('yeezy_tstar-bold-webfont.ttf') format('truetype')
}

* {
    margin: 0;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: rgb(23, 180, 200);
    background-image: linear-gradient(rgb(23, 180, 200), rgb(102, 136, 141));
    overflow: hidden;
}

div.a{
    text-align: center;    
}

a{
    color: rgb(255, 136, 0);
    font-size: 40px;
    text-decoration-line: none;
}

.uvod{
    margin-top: 5vh;
    text-align: center;
}

button{
    width: 15vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.videjko{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

img{
    max-width: 300;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

img:hover{
    opacity: 0.95;
    
}



input{
    border-radius: 3rem;
    padding: 1rem 0rem;
    background-color: rgba(255, 255, 255, 0.582);
    width: 15vw;
    margin: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    outline:none;
    font-family: "YZYFNT";
}
input:focus{
    width: 25vw;
}